/* @import './base.css'; */

@import 'tailwindcss';

/* Custom Variables */
@theme {
  --color-color1: #f4f5e0;
  --color-color2: #f5ebc9;
  --color-color3: #acbc88;
  --color-color4: #5e6a5b;
  --color-color5: #0a0b0f;

  --font-content: 'Cabin', sans-serif;
  --font-heading: 'Sniglet', cursive;
  --font-subheading: 'Josefin Sans', cursive;
}

/* Smooth scrolling */
* {
  scroll-behavior: smooth;
}

/* PrimeVue Component Overrides */
.p-button:focus,
.p-inputtext:enabled:focus,
.p-link:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--color1);
  border: 0px;
}

.p-toast {
  z-index: 10000;
}

.p-inputswitch-checked .p-inputswitch-slider {
  background-color: var(--color3);
}
.p-inputswitch-checked .p-inputswitch-slider::before {
  background-color: var(--color5);
}

/* Link Styles */
a {
  font-style: oblique;
}

/* Unordered List */
ul {
  list-style-type: disc;
}

/* Hover Styles */
@media (hover: hover) and (pointer: fine) {
  .p-button:hover,
  a:hover {
    color: var(--color-color5);
    background-color: var(--color-color3);
    border-color: var(--color-color3);
  }
}

/* Responsive Toast */
@media only screen and (max-width: 520px) {
  .p-toast {
    width: 80%;
    max-width: 80%;
  }
}
